:root {
    --red-100: #FF464F;
    --red-50: #FF575F;
    --red-0: #623A42;

    --orange-100: #FF8A34;
    --orange-50: #FF974A;
    --orange-0: #624D3B;

    --yellow-100: #FFBC25;
    --yellow-50: #FFC542;
    --yellow-0: #625B39;

    --green-100: #25C685;
    --green-50: #3DD598;
    --green-0: #286053;

    --blue-100: #005DF2;
    --blue-50: #0062FF;
    --blue-0: #163E72;

    --purple-100: #6952DC;
    --purple-50: #755FE2;
    --purple-0: #393D69;

    --gray-100: #2A3C44;
    --gray-75: #30444E;
    --gray-50: #475E69;
    --gray-25: #96A7AF;

    --white-100: #FFFFFF;
    --white-90: #f7f7f8;
}